<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774218376929-rg5vhmkpqiqhcu3rif7nq9e6oh8v6mjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774218376929-rg5vhmkpqiqhcu3rif7nq9e6oh8v6mjb</string>
	<key>API_KEY</key>
	<string>AIzaSyCapQReodEh0MIpmnmWs-0PWwtIjfrgt2w</string>
	<key>GCM_SENDER_ID</key>
	<string>774218376929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyecto</string>
	<key>PROJECT_ID</key>
	<string>proyecto-e5520</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-e5520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774218376929:ios:d9c1c504b475d0ac6a79a0</string>
</dict>
</plist>